<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="row">
        <div class="col-sm-12 containerPadding header-responsive" role="banner">
          <nav class="navbar appheader_content"><a href="javascript:void(0)"><img alt="Santander Image"
                class="img-fluid Bitmap header-logo-santander" src="./assets/images/header-logo.png"></a>
            <!---->
            <!---->
            <div>
              <span class="title-small singup-text">Don’t have Online Banking?&nbsp;</span>
              <a aria-describedby="signupDesc" aria-label="Sign up to Online Banking" class="anchor-red-links"
                href="javascript:void(0)">Sign up</a></div>
          </nav>

        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>